.cabeçalho{background-color: rgb(139, 211, 142);color: #0f7e2b;display: flex;justify-content: space-around;}
.imagem-logo{width: 20%;}
.cabeçalho-lista-item{display:inline block; margin: 0 16px; font-size: 20px;}
.cabeçalho-lista{display: incline-block;}
.palmeiras-imagem{width: 25%;}
.palmeiras{
background-image: linear-gradient(#3a6852,#2d9e42);  
color:white;  
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;}
.palmeiras-div-conteúdo{width: 45%;}
.palmeiras-título{padding: 30px 0;}
