.cabeçalho{background-color: rgb(139, 211, 142);color: #0f7e2b;display: flex;justify-content: space-around;}
.imagem-logo{width: 20%;}
.cabeçalho-lista-item{display:inline block; margin: 0 16px; font-size: 20px;}
.cabeçalho-lista{display: incline-block;}
.palmeiras-imagem{width: 25%;}
.palmeiras{
background-image: linear-gradient(#3a6852,#2d9e42);  
color:white;  
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;}
.palmeiras-div-conteúdo{width: 45%;}
.palmeiras-título{padding: 30px 0;}
.jogadores-imagem{width: 140px;}
.jogadores-div{
    text-align: center;
    padding: 16px 0; }
    .jogadores-titulo{
        text-align: center;
        padding: 50px 0;
        color:#2d9e42
    }

    .jogadores-todos{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .jogadores-nome {color:#2d9e42}


.rodape{
    background-color: #2d9e42;
    color:#2d9e42;
    text-align: center;
}

.contato {
    background-color: #3a6852;

}
.contato_titulo{
    color:#2d9e42; display: flex; justify-content: space-around; align-items: conter;
}

.contato_texto {color:blue;
}
.contato_email {
    padding: 1em;
    border: 1px solid;
    border-radius: 24px;
    width: 90%;
}
